<h2>Sign Up</h2>
<form action="/auth/signup" method="POST">
    <label for="new-name">Name</label>
    <input id="new-name" type="text" name="name">

    <label for="new-email">Email</label>
    <input id="new-email" type="email" name="email">

    <label for="new-phone">Phone Number</label>
    <input id="new-phone" type="number" name="phone">

    <label for="new-password">Password</label>
    <input id="new-password" type="password" name="password">

    <!-- We never actually store address in db. Only store lat/long from MapBox API -->
    <label for="new-address">Address</label>
    <input id="new-address" type="text" name="address">
  
    <input type="submit" value="Sign up">
</form>