<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- If I leave this in, makes a really strange error I ain't got time for and didn't work anyway
       <link rel="stylesheet" href="../style.css"> -->
    <title>Oo I Have That</title>
</head>
<body>
    <header style="background-color: whitesmoke;">
      <% if (currentUser) { %>
        <div style="text-align: center;">
          <a href="/toolRequest/new"><button class="btn" style="width: 50vw;height:70px;font-size:xx-large;" id="rat">Rent a Tool!</button></a>
        </div>
      <% } %>
        <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <% if (!currentUser) { %>
                <li><a href="/auth/signup">Signup</a></li>
                <li><a href="/auth/login">Login</a></li>
              <% } else { %>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/profile">Profile</a></li>
              <% } %>
            </ul>
          </nav>
    </header>
    <%- include('partials/alerts') %>
    <%- body %> 
</body>
</html>